.header{
    height:65px;
    display: flex;
    padding: 10px 0px;
    flex-direction: row;
    border-bottom: solid 1px  var(--color-2);

}
.circles{
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding-left: 40px;
}
.circle{
    width: 13px;
    height: 13px;
    border-radius: 
    50%;
    cursor: pointer;
}
.circle.c-r{
    background-color: #F86051;
}
.circle.c-y{
    background-color: #fbc752;
}.circle.c-g{
    background-color: #5ece66;
}
.others{
    display: flex;
    flex: 3.25;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    padding-right: 40px;
}

.sections{
    width: 100%;
    display: flex;
    list-style: none;
}
.op{
    cursor: pointer;
    white-space: nowrap;
    padding-inline: 30px;
    color:var(--color-2);
}
.op.active{
    position: relative;
    color: #fff;
}
.op.active::after{
    position: absolute;
    content: "";
    background-color: #fff;
    border-radius: 40px;
    width: 100%;
    height: 2px;
    bottom: -20px;
    left: 0;
    animation: animateBar 400ms ease-in-out;
}
.searchbar{
    max-width: 300px;
    width: 100%;
    display: flex;
    padding: 10px 20px;
    background-color: var(--color-1);
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.searchbar input{
    margin-left: 10px;
    width: 250px;
    color: #fff;
    background:none;
    border: none;
    outline: none;
}
.searchbar input::placeholder{
    color: var(--color-2);
}
.searchbar svg{
    color:var(--color-2)
}
.options{
    display:flex;
    align-items: center;
    gap: 20px ;
}
.badge{
    position: relative;
}
.badge::before{
    position: absolute;
    font-size: 0.6rem;
    text-align: center;
    content: "3";
    width: 13px;
    color: #fff;
    background-color: #3868e3;
    height: 13px;
    border-radius: 50%;
    top: -4px;
    right: -4px;
}
.options svg{
    color: #fff;
    font-size: 20px;
}
.user-profile img{
    width: 35px;
    height: 35px;
    object-fit: cover;
}
.user-profile{
    width: 35px;
    height: 35px;
    border: 2px solid #fff;
    overflow: hidden;
    border-radius: 50%;
}
@keyframes animateBar {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}
@media(max-width:720px){
    .header{
        padding: 7px 0px;
        font-size: 0.8em;
    }
    .others{
        padding-right: 20px;
    }
    .op{
        padding-inline: 8px;
    }
    .circles{
        padding-left: 20px;
    }
    .circle{
    width: 8px;
    height: 8px;
    }
    .op.active::after{
    bottom: -20px;
    }
    .searchbar{
        background-color: transparent;
    }
    .searchbar input{
        margin-left: 10px;
        width: 250px;
        color: #fff;
        background:none;
        border: none;
        outline: none;
    }

}
@media (max-width:1080px){
    .searchbar{
        max-width: fit-content;
        background:transparent;
    }
    .searchbar input{
        width: 0px;
    }
    .searchbar svg{
        color: #fff;
    }

}

@media (max-width:1280px){
    .header{
            font-size: 0.9em;
    }
    .others{
        padding-right: 40px;
    }
    .op{
        padding-inline: 20px;
    }
    .circles{
        padding-left: 40px;
    }
    .circle{
    width: 10px;
    height:10px;
    }
    .op.active::after{
    bottom: -22px;
    }
}
