.app {
    width: 90vw;
    height: 90vh;
  background: var(--color-background);
  backdrop-filter: blur(16px);
  border-radius: 20px;
  border: 1px solid var(--color-2);
  box-shadow: 0 8px 32px var(--color-1);
  cursor: auto;
}
.main-header{
  justify-content: space-between;
  border-bottom: 1px solid var(--color-2);
  color: #fff;
}
.main-header span{
    padding: 20px 50px;
}
.discover li{
  color: var(--color-2);
  padding: 20px 30px;
}
.discover .active{
  position: relative;
  color: #fff;
}
.discover .active::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
  bottom: 0;
  left: 0;
}
main{
  /* check */
  height: 100%;
}

.main-body{
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 20px;
  border-bottom-right-radius:20px ;
}

.title{
  color: var(--color-2);
}
.content{
  box-shadow: 0 8px 32px var(--color-1);
  border-radius: 10px;
  overflow: hidden;
}
.content li{
  color: #fff;
  padding: 15px;
  background-color: rgba(255,255,255,0.1);
  border-bottom: 1px solid var(--color-2);
}
.content .bottom{
  border-bottom: none;
}
.content button{
    border: 1px solid #fff;
    padding: 5px 20px;
    border-radius: 20px;
    cursor: pointer;
}
.main-item.update button{
  background-color: #3868E3;
  border:none
}
.main-item{
  display: grid;
  grid-template-columns: 1.5fr 1fr auto;
  align-items: center;
}
.status{
  position: relative;
}
.status::after{
  position: absolute;
  content: "";
  background-color: #3868E3;
  width: 10px;
  height: 10px;
  border-radius: 40px;
  top:50%;
  left: -15px;
  transform: translateY(-50%);
}
.update .status::after{
  background-color:#5ECE66;
}


.cardApp{
  max-width: 400px;
  width: 100%;
  height: 200px;
  background-color: rgba(255,255,255,0.1);
  color: #fff;
  box-shadow: 0 8px 32px var(--color-1);
  border-radius: 10px;
  padding: 15px;
}
.head-card{
  display: flex;
  gap:10px
}
.head-card svg{
  font-size: 1.5em;
}
.head-card p{
  font-size: 1.5em;
}
.cardApp .btn{
    border: 1px solid #fff;
    background-color: none;
    padding: 5px 20px;
    border-radius: 20px;
    cursor: pointer;
}
.btn.update{
  background-color: #3868E3;
  border: none;
}
.cards{
  display: flex;
  flex-direction: column;
  gap:10px
}
.banner{
  padding: 15px;
  border-radius: 10px;
  background: linear-gradient(to right, #FF6A00, #FFD000);
  color: #fff;
}
.banner-head{
  gap:10px
}
.banner-head{
  font-size: 1.5em;
}
.banner-btn{
  justify-content: end;
}
.banner-btn button{
    background-color: #3868E3;
    padding: 5px 20px;
    border-radius: 20px;
    cursor: pointer;
}
@media (max-width:1280px) {
  .app{
    width: 90vw;
    height: 90vh;
  }
}