.app {
  width: 80vw;
  height: 80vh;
  
  background: var(--color-background);
  backdrop-filter: blur(16px);
  border-radius: 20px;
  border: 1px solid var(--color-2);
  box-shadow: 0 8px 32px var(--color-1);
}
.main-header{
  justify-content: space-between;
  border-bottom: 1px solid var(--color-2);
  color: #fff;
}
.main-header span{
    padding: 20px 50px;
}
.discover li{
  color: var(--color-2);
  padding: 20px 30px;
}
.discover .active{
  position: relative;
  color: #fff;
}
.discover .active::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
  bottom: 0;
  left: 0;
}
main{
  /* check */
  height: 100%;
}

.main-body{
  padding: 40px;
  border-bottom-right-radius:20px ;
}

.title{
  color: var(--color-2);
}
.content{
  box-shadow: 0 8px 32px var(--color-1);
  border-radius: 20px;
  overflow: hidden;
}
.content li{
  color: #fff;
  padding: 15px;
  background-color: rgba(255,255,255,0.1);
  border-bottom: 1px solid var(--color-2);
}
.content .bottom{
  border-bottom: none;
}
