.sidebar{
    min-width: 400px;
    width: 100%;
    flex: 1 ;
    padding: 10px 40px;
    border-right:1px solid var(--color-2);
}
.apps{
    color: #fff;
}
.sections-sidebar{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.sections-sidebar .title{
    color: var(--color-2);
}
.apps li{
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.icon-container{
    padding: 8px 5px;
}
.sidebar .active{
    background-color: var(--color-1);
    border-radius: 5px;
}
.badge-update{
    position: relative;
}
.badge-update::after{
    display: flex;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 20px;
    font-size: 0.6em;
    align-items: center;
    justify-content: center;
    content: "2";
    background-color: #3868E3;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

@media (max-width:1280px) {
    .sidebar{
    min-width: 1px;
    /* width: 100%;
    flex: 1 ;
    padding: 10px 40px;
    border-right:1px solid var(--color-2); */
    }
}
